.detailedProject {
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-gallery {
 max-width: 100%;
}

.image-gallery-image img {
 max-height: 500px;
 width: auto;
}

.image-gallery-thumbnail img {
  display: none;
}

.projectPic {
  height: 500px;
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 30px;
}

.projectInfo h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.projectInfo h4 {
  margin-bottom: 30px;
  text-align: left;
}

.projectLinks {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectLinks a {
  margin-right: 30px;
}

.projectLinks a:hover {
  color: pink;
  margin-right: 30px;
}

.projects-container {
  width: 80vw;
  margin: auto;
}

.projects-ingress {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.projects-header {
  width: 40%;
}

.projects-info {
  padding: 0 0 0 10%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsGrid {
  width: 100%;
  padding: 0 0 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: 30vw;
  grid-gap: 1vw;
}

.projects-container {
  padding: 0 0 30px 0;
}

@media (min-width: 426px) and (max-width: 1024px)  {

}

@media (max-width: 425px)  {
  .detailedProject {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .projectPic {
    margin-top: 60px;
    width: 80%;
    height: 100%;
  }

  .projectInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
  }

  .projectLinks {
    margin-top: 30px;
  }

 /*  PROJECTS GRID STYLING */
  .projects-container {
    width: 100vw;
    margin: auto;
  }

  .projects-ingress {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projects-header {
    width: 80%;
    margin-left: 10%;
  }

  .projects-info {
    padding: 0;
    width: 80%;
    margin-left: 10%;
  }

  .projectsGrid {
    width: 80%;
    margin-left: 10%;
    padding: 0 0 10px 0;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 40vw;
    grid-gap: 1vw;
  }
}
