.detailedProject {
  background: yellow;
  width: 100vw;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.detailedProject .projectPic, .detailedProject .projectInfo {
  height: 100%;
  width: 50%;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-auto-rows: 25vw;
  grid-gap: 1vw;
}
