.hero {
  background: cyan;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.web, .ide {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .ide {
  background: none;
}

.hero .ide {
  background: pink;
}

.hilda  {
  background-image: url(/images/hilda.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
