.about {
  background: cyan;
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about .left {
  text-align: center;
}

.about .text {
  text-align: center;
  margin: 10%;
}

.about .hilda  {
  background-image: url(/images/hilda.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
