/* GRID PROJECT STYLES */
.gridProject {
  width: 100%;
  height: 100%;
}

.gridProjectPic {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.web:nth-child(1) {
  grid-column: span 2;
}

.web:nth-child(4) {
  grid-row: span 2;
}

.web:nth-child(6) {
  grid-row: span 2;
}

.web:nth-child(8) {
  grid-column: span 2;
}
.web:nth-child(9) {
  grid-column: span 2;
}

.gridProjectInfo {
  display: none;
}

.i-d-e:nth-child(2) {
  grid-column: span 2;
}

.i-d-e:nth-child(3) {
  grid-column: span 2;
}
.i-d-e:nth-child(6) {
  grid-column: span 2;
}
.i-d-e:nth-child(7) {
  grid-column: span 2;
}

.gridProjectPic:hover {
  opacity: 0.8;
}

.gridProject:hover a{
  color: white;
}

.gridProject:hover .gridProjectInfo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
