.header {
  background-color: pink;
  height: 10vh;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px;
}

.headerOptions {
  list-style: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 26px;
}
