@import url('https://fonts.googleapis.com/css?family=Karla:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  background-image: url(/images/pagespictures/audrey-fretz-451115.jpg);
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100vw;
}

h1 {
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  text-align: left;
  font-size: 70px;
  font-family: 'Karla', sans-serif;
  margin-top: 10px;
}

h2 {
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  text-align: center;
  font-size: 40px;
  font-family: 'Karla', sans-serif;
}

h3 {
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

h4 {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

p {
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.projectPic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.up-arrow {
  height: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 426px) and (max-width: 1024px)  {
  h1 {
    font-size: 46px;
  }

}

@media (max-width: 425px)  {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}
