.experience-container {
  width: 100vw;
}

.experience-flex {
  background: blue;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience {
  background-color: yellow;
  width: 25vw;
  height: 400px;
  text-align: center;
}

.fas {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fas:hover {
    opacity: 0.7;
}
